----------------------------------------------------------------------------
Elemanları ardışık sayılar olan karışık bir liste verilir. Listenin en küçük öğesi ile en büyük öğesi arasında bulunan ancak listede gösterilmeyen çift sayıdaki eksik sayıların çıktısını veren bir python kodu yazın.

Giriş

liste = [48, 10, 11, 21, 36, 5, 6, 52, 28, 29, 53, 54, 45, 19, 20, 47, 55, 39, 41, 7, 9, 17, 26, 27 , 42, 22, 37, 51, 46, 18, 44, 30, 34, 13, 15, 35, 33, 16, 50, 24]

Beklenen Çıktı: 8 12 14 32 38 40

In [63]:
[i for i in range(min(liste), max(liste)+1) if i%2==0 and i not in liste]

[8, 12, 14, 32, 38, 40]

In [6]:
# F3606 - Bahadır
sorted(liste)
[i for i in range(min(sorted(liste)),max(sorted(liste))) if i not in liste and i%2==0]

[8, 12, 14, 32, 38, 40]

In [ ]:
# F3798-Zübeyir

liste = [48, 10, 11, 21, 36, 5, 6, 52, 28, 29, 53, 54, 45, 19, 20, 47,
 55, 39, 41, 7, 9, 17, 26, 27, 42, 22, 37, 51, 46, 18, 44, 
 30, 34, 13, 15, 35, 33, 16, 50, 24]
liste2 = []
for i in range(5,56):
    if i not in liste:
        if i % 2 == 1:
            continue 
        else:
            liste2.append(i)
print(liste2)

In [3]:
liste = [48, 10, 11, 21, 36, 5, 6, 52, 28, 29, 53, 54, 45,\
         19, 20, 47, 55, 39, 41, 7, 9, 17, 26, 27 , 42, 22,\
         37, 51, 46, 18, 44, 30, 34, 13, 15, 35, 33, 16, 50, 24]
output = []
print(max(liste))
print(min(liste))
for i in range(min(liste), max(liste)+1):
    if i%2==0 :
        output.append(i)
print(list(set(output).difference(set(liste))))

55
5
[32, 38, 8, 40, 12, 14]

2 ) Try to print a multiplication table with numbers from 1 to 10.
--------------------------------------------------------------------------
1'den 10'a kadar sayılar içeren bir çarpım tablosu yazdırmayı deneyin.
---------------------------------------------------------------------------
For Example,

1 x 1 = 1

1 x 2 = 2

1 x 3 = 3

1 x 4 = 4

1 x 5 = 5

1 x 6 = 6

1 x 7 = 7

1 x 8 = 8

1 x 9 = 9

1 x 10 = 10

***********

2 x 1 = 2

2 x 2 = 4

2 x 3 = 6

In [28]:
n = int(input())
for i in range(1,11):
    print(i, "x", n, "=", (i*n) )

5
1 x 5 = 5
2 x 5 = 10
3 x 5 = 15
4 x 5 = 20
5 x 5 = 25
6 x 5 = 30
7 x 5 = 35
8 x 5 = 40
9 x 5 = 45
10 x 5 = 50

In [69]:
[print(i,"x",ii,"=",i*ii) for i in range(1,11) for ii in range(1,11)]

1 x 1 = 1
1 x 2 = 2
1 x 3 = 3
1 x 4 = 4
1 x 5 = 5
1 x 6 = 6
1 x 7 = 7
1 x 8 = 8
1 x 9 = 9
1 x 10 = 10
2 x 1 = 2
2 x 2 = 4
2 x 3 = 6
2 x 4 = 8
2 x 5 = 10
2 x 6 = 12
2 x 7 = 14
2 x 8 = 16
2 x 9 = 18
2 x 10 = 20
3 x 1 = 3
3 x 2 = 6
3 x 3 = 9
3 x 4 = 12
3 x 5 = 15
3 x 6 = 18
3 x 7 = 21
3 x 8 = 24
3 x 9 = 27
3 x 10 = 30
4 x 1 = 4
4 x 2 = 8
4 x 3 = 12
4 x 4 = 16
4 x 5 = 20
4 x 6 = 24
4 x 7 = 28
4 x 8 = 32
4 x 9 = 36
4 x 10 = 40
5 x 1 = 5
5 x 2 = 10
5 x 3 = 15
5 x 4 = 20
5 x 5 = 25
5 x 6 = 30
5 x 7 = 35
5 x 8 = 40
5 x 9 = 45
5 x 10 = 50
6 x 1 = 6
6 x 2 = 12
6 x 3 = 18
6 x 4 = 24
6 x 5 = 30
6 x 6 = 36
6 x 7 = 42
6 x 8 = 48
6 x 9 = 54
6 x 10 = 60
7 x 1 = 7
7 x 2 = 14
7 x 3 = 21
7 x 4 = 28
7 x 5 = 35
7 x 6 = 42
7 x 7 = 49
7 x 8 = 56
7 x 9 = 63
7 x 10 = 70
8 x 1 = 8
8 x 2 = 16
8 x 3 = 24
8 x 4 = 32
8 x 5 = 40
8 x 6 = 48
8 x 7 = 56
8 x 8 = 64
8 x 9 = 72
8 x 10 = 80
9 x 1 = 9
9 x 2 = 18
9 x 3 = 27
9 x 4 = 36
9 x 5 = 45
9 x 6 = 54
9 x 7 = 63
9 x 8 = 72
9 x 9 = 81
9 x 10 = 90
10 x 1 = 10
10 x 2 = 20
10 x 3 = 30
10 x 4 = 40
10 x 5 = 50
10 x 6 = 60
10 x 7 = 70
10 x 8 = 80
10 x 9 = 90
10 x 10 = 100

[None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None]

In [31]:
for i in range(1,11):
    for ii in range(1,11):
        print(i, "x", ii, "=", (i*ii))

1 x 1 = 1
1 x 2 = 2
1 x 3 = 3
1 x 4 = 4
1 x 5 = 5
1 x 6 = 6
1 x 7 = 7
1 x 8 = 8
1 x 9 = 9
1 x 10 = 10
2 x 1 = 2
2 x 2 = 4
2 x 3 = 6
2 x 4 = 8
2 x 5 = 10
2 x 6 = 12
2 x 7 = 14
2 x 8 = 16
2 x 9 = 18
2 x 10 = 20
3 x 1 = 3
3 x 2 = 6
3 x 3 = 9
3 x 4 = 12
3 x 5 = 15
3 x 6 = 18
3 x 7 = 21
3 x 8 = 24
3 x 9 = 27
3 x 10 = 30
4 x 1 = 4
4 x 2 = 8
4 x 3 = 12
4 x 4 = 16
4 x 5 = 20
4 x 6 = 24
4 x 7 = 28
4 x 8 = 32
4 x 9 = 36
4 x 10 = 40
5 x 1 = 5
5 x 2 = 10
5 x 3 = 15
5 x 4 = 20
5 x 5 = 25
5 x 6 = 30
5 x 7 = 35
5 x 8 = 40
5 x 9 = 45
5 x 10 = 50
6 x 1 = 6
6 x 2 = 12
6 x 3 = 18
6 x 4 = 24
6 x 5 = 30
6 x 6 = 36
6 x 7 = 42
6 x 8 = 48
6 x 9 = 54
6 x 10 = 60
7 x 1 = 7
7 x 2 = 14
7 x 3 = 21
7 x 4 = 28
7 x 5 = 35
7 x 6 = 42
7 x 7 = 49
7 x 8 = 56
7 x 9 = 63
7 x 10 = 70
8 x 1 = 8
8 x 2 = 16
8 x 3 = 24
8 x 4 = 32
8 x 5 = 40
8 x 6 = 48
8 x 7 = 56
8 x 8 = 64
8 x 9 = 72
8 x 10 = 80
9 x 1 = 9
9 x 2 = 18
9 x 3 = 27
9 x 4 = 36
9 x 5 = 45
9 x 6 = 54
9 x 7 = 63
9 x 8 = 72
9 x 9 = 81
9 x 10 = 90
10 x 1 = 10
10 x 2 = 20
10 x 3 = 30
10 x 4 = 40
10 x 5 = 50
10 x 6 = 60
10 x 7 = 70
10 x 8 = 80
10 x 9 = 90
10 x 10 = 100

In [ ]:
# F3730 Erhan

rakamlar = range(1, 11)
sonuç = birinci * ikinci
for i in rakamlar:
  birinci = i
  for ii in rakamlar:
    ikinici = ii
    print(f"{birinci} x {ikinici} = {birinci*ikinici}")

3 ) Write a program to check if two string are balanced.
## for example; strings s1 and s2 are balanced if all the characters in the s1 are present in s2
--------------------------------------------------------------------------------------------------
İki dizenin dengeli olup olmadığını kontrol eden bir program yazın.
örneğin; s1'deki tüm karakterler s'de mevcutsa, s1 ve s2 dizeleri dengelenir

In [71]:
s1, s2 = input(), input()
"Dengelidir, bütün karakterler mevcut." if set(s1).issubset(set(s2)) else "Dengeli değildir."

ali
deli

'Dengeli değildir.'

In [ ]:
# F3625-Buddy

s1 = input("bir ifade yazınız :")
s2 = input("ikinci ifadeyi yazınız :")
if set(s1).intersection(set(s2)) == set(s1):
  print("s1 ve s2 dizeleri dengelidir.")
else:
  print("s1 ve s2 dizeleri dengeli değildir.")

In [ ]:
# F3730 Erhan

s1 = input("karakter gir: ")
s2 = input("karakter gir: ")
if len(set(s2).intersection(set(s1))) == len(set(s1)):
  print( "dengeli dizi" )
else:
  print("dengeli değil")

In [ ]:
#F3606 - Bahadır

dize1=input("Bir dize girin")
dize2=input("Bir Dize girin")
for i in dize1:
    if i in dize2:
        print("Dize dengeli")
        break
    else:
        print("Dize dengesiz")
        break

In [26]:
s1 = input()
s2 = input()

def balance(a ,b):
    if a in b:
        print("Dengelidir, bütün karakterler mevcut.")
    else:
        print("Dengeli değildir.")

balance(s1, s2)

cal
cla
NOT Balanced

In [12]:
s1 = input()
s2 = input()

def balance(a ,b):
    if set(a).issubset(set(b)):
        print("Dengelidir, bütün karakterler mevcut.")
    else:
        print("Dengeli değildir.")

balance(s1, s2)

l8ı
hk
NOT Balanced

---------------------------------------------------------------------------------------------------

4)  set() | for loop | floor division | format() | "string"

There is a large of socks that must be paired by color. Given an array of integers representing the color of each sock, determine how many pairs of socks with matching colors there are.

Example :

n = 7

ar = [1, 2, 1, 2, 1, 3, 2]

--------------------------------------------------------------------------
Renge göre eşleştirilmesi gereken çok sayıda çorap var. Her bir çorabın rengini temsil eden bir tamsayı dizisi verildiğinde, eşleşen renklere sahip kaç çift çorap olduğunu belirleyin.

Örnek :

sayı = 7

ar = [1, 2, 1, 2, 1, 3, 2]

In [30]:
n = 7
corap = [1, 2, 1, 2, 1, 3, 2]
cift = 0
renkler = set()

for i in range(n):
    if corap[i] not in renkler:
        renkler.add(corap[i])
    else:
        cift += 1
        renkler.remove(corap[i])
print(f"{cift} çift çorap eşleşmiştir. {n-cift*2} tane çorap tektir.")

2 çift çorap eşleşmiştir. 3 tane çorap tektir.

In [31]:
n = 7
corap = ["mavi", "yeşil", "mavi", "yeşil", "sarı", "mavi", "yeşil"]
cift = 0
renkler = set()

for i in range(n):
    if corap[i] not in renkler:
        renkler.add(corap[i])
    else:
        cift += 1
        renkler.remove(corap[i])
print(f"{cift} çift çorap eşleşmiştir. {n-cift*2} tane çorap tektir.")

2 çift çorap eşleşmiştir. 3 tane çorap tektir.

In [ ]:
# F3730 Erhan
toplam_çift = 0
for i in set(ar) :
  if ar.count(i) != 0 :
    toplam_çift += (ar.count(i) // 2)
print(toplam_çift)

In [ ]:
# F3606 - Bahadır

count1=0
ar = [1, 2, 1, 2, 1, 3, 2]
ar2 = []
for i in ar:
    if i in ar2:
        continue
    else:
        count2=(ar.count(i)) %2
        if ar.count(i)==1:
            continue
        else:
            count1+=count2
            ar2.append(i)       
print(count1)

In [ ]:
# F3798-Zübeyir

ar = [1,2,1,2,1,3,2]
lst,duplicate=[],[]
for i in ar:
  if i not in duplicate:
    lst.append(ar.count(i))
    duplicate.append(i)
sayaç = 0
for i in lst:
  if i >= 2:
    sayaç += i // 2 
  else:
    continue
print(f"Eşleşen renklere ait {sayaç} çift çorap vardır.")

----------------------------------------------------------------------------------------------

 5 ) for loop | sum()

Abigail and Benson are playing Rock, Paper, Scissors.

Each game is represented by an array of length 2, where the first element represents what Abigail played and the second element represents what Benson played.

Given a sequence of games, determine who wins the most number of matches. If they tie, output "Tie".

- R stands for Rock

- P stands for Paper

- S stands for Scissors
----------------------------------------
Abigail ve Benson, Taş, kağıt ve makas oynuyorlar.

Her oyun 2 uzunluğunda bir diziyle temsil edilir; burada ilk öğe Abigail'in oynadığını ve ikinci öğe Benson'ın oynadığını temsil eder.

Bir dizi oyun verildiğinde, en çok maçı kimin kazandığını belirleyin. Bağlanırlarsa, 'Tie' çıktısını alın.

- R, Rock anlamına gelir

- P, Kağıt anlamına gelir

- S, Makas anlamına gelir

In [34]:

x = [["R", "P"], ["R", "S"], ["S", "P"]]


def calculate_score(alist):
    # print(alist)
    winList = []

    for i in alist:
        # print(i)
        # print(i[0])
        if i[0] == i[-1]:
            print('Draw')
            winList.append('Draw')
        elif (i[0] == 'R') and (i[-1] == 'P'):
            print("Paper beats Rock")
            winList.append('Right')
        elif (i[0] == 'R') and (i[-1] == 'S'):
            print("Rock beats Scissors")
            winList.append('Left')
        elif (i[0] == 'S') and (i[-1] == 'P'):
            print("Scissors beat Paper")
            winList.append('Left')
        elif (i[0] == 'S') and (i[-1] == 'R'):
            print("Rock beats Scissors")
            winList.append("Right")

    print('')
    abiwins = winList.count('Left')
    benwins = winList.count('Right')
    print(abiwins)
    print(benwins)

    print(winList)


# calculate_score([["R", "R"], ["S", "S"]])
# calculate_score([["R", "P"], ["R", "S"], ["S", "P"]])

In [35]:
calculate_score([["R", "P"], ["R", "S"], ["S", "P"]])

Paper beats Rock
Rock beats Scissors
Scissors beat Paper

2
1
['Right', 'Left', 'Left']

------------------------------------------------------------------------------------------------------

6)Create a function that returns the sum of missing numbers from the given list.

Examples

sum_missing_numbers([4, 3, 8, 1, 2]) ➞ 18

- 5 + 6 + 7 = 18

sum_missing_numbers([17, 16, 15, 10, 11, 12]) ➞ 27

- 13 + 14 = 27

sum_missing_numbers([1, 2, 3, 4, 5]) ➞ 0

- No Missing Numbers (i.e. all numbers in [1, 5] are present in the list)
-----------------------------------------------------------------------
Verilen listedeki eksik sayıların toplamını döndüren bir işlev oluşturun.
Örnekler

sum_missing_numbers([4, 3, 8, 1, 2]) ➞ 18

- 5 + 6 + 7 = 18

sum_missing_numbers([17, 16, 15, 10, 11, 12]) ➞ 27

- 13 + 14 = 27

sum_missing_numbers([1, 2, 3, 4, 5]) ➞ 0

- Eksik Numara Yok (yani [1, 5] içindeki tüm numaralar listede mevcut)

In [46]:
# sum_missing_numbers([17, 16, 15, 10, 11, 12]) ➞ 27

alist = [4, 3, 8, 1, 2]
blist = []
mis_sum = 0
for i in range(min(alist), max(alist)+1):
    blist.append(i)
for ii in blist:
    if ii not in alist:
        mis_sum += ii
print(mis_sum)

18

In [72]:
liste = [17, 16, 15, 10, 11, 12]
sum([n for n in [i for i in range(min(liste), max(liste)+1)] if n not in liste])

27

In [11]:
# F3511- Hasan
liste = [17, 16, 15, 10, 11, 12]
sum_missing = sum(set(range(sorted(liste)[0], sorted(liste)[-1])) - set(sorted(liste)))
sum_missing

27

In [10]:
# F3730 Erhan
liste = [17, 16, 15, 10, 11, 12]
toplam = 0
eksik = []
for i in range(min(liste), max(liste)):
  if len(set(liste).intersection({i})) == 0 :
    toplam += i
    eksik.append(i)
    
print(toplam)
print(eksik)

27
[13, 14]

In [13]:
# F3800-Rose
a=[17, 16, 15, 10, 11, 12]
b=set(range(min(a), max(a)+1))
a=set(a)
print(sum(b-a))

27

In [ ]:
# F3703-Léo
givenlist = [1,3,5,6,7,9,11,14,15,16,17]
a = min(givenlist)
b = max(givenlist)
mylist = range(a,b)
missing_numbers = set(mylist) - set(givenlist)
print("eksik sayılar:", missing_numbers, "toplamı:",sum(missing_numbers))

---------------------------------------------------------------------------------------

7) Bir pisagor üçgeni oluşturan 1'den 100'e kadar sayıları ekrana yazdıran bir program yazın. Sınav için.: 
3 4 5

In [73]:
[(a, b, c)  for a in range(1,101) for b in range(1,101) for c in range(1,101) if (a**2 + b**2 == c**2)]

[(3, 4, 5),
 (4, 3, 5),
 (5, 12, 13),
 (6, 8, 10),
 (7, 24, 25),
 (8, 6, 10),
 (8, 15, 17),
 (9, 12, 15),
 (9, 40, 41),
 (10, 24, 26),
 (11, 60, 61),
 (12, 5, 13),
 (12, 9, 15),
 (12, 16, 20),
 (12, 35, 37),
 (13, 84, 85),
 (14, 48, 50),
 (15, 8, 17),
 (15, 20, 25),
 (15, 36, 39),
 (16, 12, 20),
 (16, 30, 34),
 (16, 63, 65),
 (18, 24, 30),
 (18, 80, 82),
 (20, 15, 25),
 (20, 21, 29),
 (20, 48, 52),
 (21, 20, 29),
 (21, 28, 35),
 (21, 72, 75),
 (24, 7, 25),
 (24, 10, 26),
 (24, 18, 30),
 (24, 32, 40),
 (24, 45, 51),
 (24, 70, 74),
 (25, 60, 65),
 (27, 36, 45),
 (28, 21, 35),
 (28, 45, 53),
 (28, 96, 100),
 (30, 16, 34),
 (30, 40, 50),
 (30, 72, 78),
 (32, 24, 40),
 (32, 60, 68),
 (33, 44, 55),
 (33, 56, 65),
 (35, 12, 37),
 (35, 84, 91),
 (36, 15, 39),
 (36, 27, 45),
 (36, 48, 60),
 (36, 77, 85),
 (39, 52, 65),
 (39, 80, 89),
 (40, 9, 41),
 (40, 30, 50),
 (40, 42, 58),
 (40, 75, 85),
 (42, 40, 58),
 (42, 56, 70),
 (44, 33, 55),
 (45, 24, 51),
 (45, 28, 53),
 (45, 60, 75),
 (48, 14, 50),
 (48, 20, 52),
 (48, 36, 60),
 (48, 55, 73),
 (48, 64, 80),
 (51, 68, 85),
 (52, 39, 65),
 (54, 72, 90),
 (55, 48, 73),
 (56, 33, 65),
 (56, 42, 70),
 (57, 76, 95),
 (60, 11, 61),
 (60, 25, 65),
 (60, 32, 68),
 (60, 45, 75),
 (60, 63, 87),
 (60, 80, 100),
 (63, 16, 65),
 (63, 60, 87),
 (64, 48, 80),
 (65, 72, 97),
 (68, 51, 85),
 (70, 24, 74),
 (72, 21, 75),
 (72, 30, 78),
 (72, 54, 90),
 (72, 65, 97),
 (75, 40, 85),
 (76, 57, 95),
 (77, 36, 85),
 (80, 18, 82),
 (80, 39, 89),
 (80, 60, 100),
 (84, 13, 85),
 (84, 35, 91),
 (96, 28, 100)]

In [44]:
sayılar = [*range(1,101)]
[(a, b, c)  for a in sayılar for b in sayılar for c in sayılar if (a**2 + b**2 == c**2)]

[(3, 4, 5),
 (4, 3, 5),
 (5, 12, 13),
 (6, 8, 10),
 (7, 24, 25),
 (8, 6, 10),
 (8, 15, 17),
 (9, 12, 15),
 (9, 40, 41),
 (10, 24, 26),
 (11, 60, 61),
 (12, 5, 13),
 (12, 9, 15),
 (12, 16, 20),
 (12, 35, 37),
 (13, 84, 85),
 (14, 48, 50),
 (15, 8, 17),
 (15, 20, 25),
 (15, 36, 39),
 (16, 12, 20),
 (16, 30, 34),
 (16, 63, 65),
 (18, 24, 30),
 (18, 80, 82),
 (20, 15, 25),
 (20, 21, 29),
 (20, 48, 52),
 (21, 20, 29),
 (21, 28, 35),
 (21, 72, 75),
 (24, 7, 25),
 (24, 10, 26),
 (24, 18, 30),
 (24, 32, 40),
 (24, 45, 51),
 (24, 70, 74),
 (25, 60, 65),
 (27, 36, 45),
 (28, 21, 35),
 (28, 45, 53),
 (28, 96, 100),
 (30, 16, 34),
 (30, 40, 50),
 (30, 72, 78),
 (32, 24, 40),
 (32, 60, 68),
 (33, 44, 55),
 (33, 56, 65),
 (35, 12, 37),
 (35, 84, 91),
 (36, 15, 39),
 (36, 27, 45),
 (36, 48, 60),
 (36, 77, 85),
 (39, 52, 65),
 (39, 80, 89),
 (40, 9, 41),
 (40, 30, 50),
 (40, 42, 58),
 (40, 75, 85),
 (42, 40, 58),
 (42, 56, 70),
 (44, 33, 55),
 (45, 24, 51),
 (45, 28, 53),
 (45, 60, 75),
 (48, 14, 50),
 (48, 20, 52),
 (48, 36, 60),
 (48, 55, 73),
 (48, 64, 80),
 (51, 68, 85),
 (52, 39, 65),
 (54, 72, 90),
 (55, 48, 73),
 (56, 33, 65),
 (56, 42, 70),
 (57, 76, 95),
 (60, 11, 61),
 (60, 25, 65),
 (60, 32, 68),
 (60, 45, 75),
 (60, 63, 87),
 (60, 80, 100),
 (63, 16, 65),
 (63, 60, 87),
 (64, 48, 80),
 (65, 72, 97),
 (68, 51, 85),
 (70, 24, 74),
 (72, 21, 75),
 (72, 30, 78),
 (72, 54, 90),
 (72, 65, 97),
 (75, 40, 85),
 (76, 57, 95),
 (77, 36, 85),
 (80, 18, 82),
 (80, 39, 89),
 (80, 60, 100),
 (84, 13, 85),
 (84, 35, 91),
 (96, 28, 100)]

In [55]:
sayılar = [*range(1,101)]
for a in sayılar:
    for b in sayılar:
        for c in sayılar:
            if a**2 + b**2 == c**2:
                #sayılar.remove(b) # tekrarları önlemek için
                print(a, b, c)

3 4 5
4 3 5
5 12 13
6 8 10
7 24 25
8 6 10
8 15 17
9 12 15
9 40 41
10 24 26
11 60 61
12 5 13
12 9 15
12 16 20
12 35 37
13 84 85
14 48 50
15 8 17
15 20 25
15 36 39
16 12 20
16 30 34
16 63 65
18 24 30
18 80 82
20 15 25
20 21 29
20 48 52
21 20 29
21 28 35
21 72 75
24 7 25
24 10 26
24 18 30
24 32 40
24 45 51
24 70 74
25 60 65
27 36 45
28 21 35
28 45 53
28 96 100
30 16 34
30 40 50
30 72 78
32 24 40
32 60 68
33 44 55
33 56 65
35 12 37
35 84 91
36 15 39
36 27 45
36 48 60
36 77 85
39 52 65
39 80 89
40 9 41
40 30 50
40 42 58
40 75 85
42 40 58
42 56 70
44 33 55
45 24 51
45 28 53
45 60 75
48 14 50
48 20 52
48 36 60
48 55 73
48 64 80
51 68 85
52 39 65
54 72 90
55 48 73
56 33 65
56 42 70
57 76 95
60 11 61
60 25 65
60 32 68
60 45 75
60 63 87
60 80 100
63 16 65
63 60 87
64 48 80
65 72 97
68 51 85
70 24 74
72 21 75
72 30 78
72 54 90
72 65 97
75 40 85
76 57 95
77 36 85
80 18 82
80 39 89
80 60 100
84 13 85
84 35 91
96 28 100

--------------------------------------------------------------------------------------

8) input() | len() | set()

Write a Python function that takes a sequence of numbers and determines whether all the numbers are different from each other.

Bir sayı dizisi alan ve tüm sayıların birbirinden farklı olup olmadığını belirleyen bir Python fonksiyonu yazın.

In [14]:
sayı1, sayı2 = input("Bir sayı giriniz>>> : "), input("Bir sayı giriniz>>> : ")
"farklı rakam var --->", set(sayı1).difference(sayı2) if set(sayı1).difference(sayı2) else "farklı rakam yok"

Bir sayı giriniz>>> : 123
Bir sayı giriniz>>> : 456

('farklı rakam var --->', {'1', '2', '3'})

In [70]:
sayı1 = input("Bir sayı giriniz>>> : ")
sayı2 = input("Bir sayı giriniz>>> : ")
if set(sayı1).difference(sayı2):
    print("farklı rakam var --->", set(sayı1).difference(sayı2))
else:
    print("farklı rakam yok")

Bir sayı giriniz>>> : 123
Bir sayı giriniz>>> : 452
farklı rakam var ---> {'3', '1'}

-----------------------------------------------------------------------------------------

9)for loop | nested for loop | range() |?str() | int()

 - How many of the 3-digit numbers are equal to the sum of the cubes of their digits?

 - 3 basamaklı sayıların kaç tanesi rakamlarının küplerinin toplamına eşittir?

In [23]:
len([i for i in range(100,1000) if i == (int(str(i)[0])**3 + int(str(i)[1])**3 + int(str(i)[2])**3) ])

4

In [17]:
count = 0
for i in range(100,1000):
    if i == (int(str(i)[0])**3 + int(str(i)[1])**3 + int(str(i)[2])**3):
        count +=1
        print(i)
print(count, "tane 3 basamaklı sayının rakamlarının küplerinin toplamı kendisine eşittir.")

153
370
371
407
4 tane 3 basamaklı sayının rakamlarının küplerinin toplamı kendisine eşittir.

In [16]:
# F3703-Léo
sayılar = range(100, 1000)
sayılar = list(sayılar)

liste =[]

for i in sayılar:
  i = str(i)
  a = i[0]
  b = i[1]
  c = i[2]
  
  if (int(a) **3 ) + (int(b)**3) + (int(c)**3) == (100 * int(a)) + (10 * int(b)) + (1 * int(c)):
    liste.append(i)
  
print(liste)

['153', '370', '371', '407']

In [ ]:
x=int(input("Yüzler basamağı : ----- :"))     # range fonksiyonu olmadan tekil test
y=int(input("Onlar basamağı : ----- :"))
z=int(input("Birler basamağı : ----- :"))
a = (x*100) + (y*10) + (z)
if a == x**3+y**3+z**3:
    print("Armstrong")
else:
    print("Tekrar Deneyin")

--------------------------------------------------------------------------------

10 )comprehension | nested for loop | for loop | join()

Write a program that square every digit of a number and concatenate them.
For example, if we run 9119 through the function, 811181 will come out, because 9 ** 2 = 81 and 1 ** 2 = 1.

Bir sayının her basamağını karesini alan ve bunları birleştiren bir program yazın. Örneğin 9119'u fonksiyon üzerinden çalıştırırsak sonuç 811181 çıkacaktır, çünkü 9 ** 2 = 81 ve 1 ** 2 = 1'dir.
9119-->811181   1923-->18149   4285-->1646425

In [82]:
sayı = input("Bir sayı giriniz >> : ")
yeni_sayı = ""
for i in sayı:
    yeni_sayı += str(int(i)**2)
int(yeni_sayı)

Bir sayı giriniz >> : 9119

811181

In [83]:
sayı = input("Bir sayı giriniz >> : ")
a = [str(int(i)**2) for i in sayı]
print(int("".join(a)))

Bir sayı giriniz >> : 9119
811181

In [84]:
print(["".join(s) for s in [str(int(i)**2) for i in sayı]])

['81', '1', '1', '81']

In [85]:
sayı = input("Bir sayı giriniz >> : ")
output = ""
for s in [str(int(i)**2) for i in sayı]:
    output += s
print(output)

Bir sayı giriniz >> : 9119
811181

In [ ]:
# F3730 Erhan

sayı = input("bir sayı gir: ")
sonuç = ""
for i in sayı :
  sonuç += str(int(i) ** 2)
print(f"sonuç : {sonuç}")

In [ ]:
# F3703-Léo

sayı = input("bir sayı girin: ")
basamak = len(sayı)

liste = ""
sayı = int(sayı)
değer = sayı

while değer > 0:
  bölüm = değer // (10 ** (basamak-1))
  x = bölüm ** 2
  x = str(x)
  liste += x  
  değer= değer % (10 ** (basamak-1))
  basamak -= 1
  if basamak == 0:   
    print(liste)

In [ ]:
# F3720- Wayne

ans = []
a = ""
get_1 = "" 
while get_1.isdigit() == False :
  get_1 = input("Enter a number: ")
  if get_1.isdigit() == True :
    for i in list(get_1):
      ans.append(str(int(i)**2))
print(a.join(ans))

In [ ]:
# F3798-Zübeyir

num = input('Enter a Number: ')
res = [int(x)**2 for x in num]
y = ''
for i in res:
    y = y + str(i) 
print(int(y))