# COLLETİON TYPES
1) LİST
2) TUPLE
3) DİCT
4) SET

# 1) LİST:

* listelerin stringlerden en önemli farkı listeler mutable dır yani yerinde değişebilir ve elemanlarına ayrılabilir.

#empty list (2 Şekilde oluşturulur)
liste = []
liste2 = list()

*

#Çok elemanlı (multi) ve tek elemanlı(single) liste oluşturmaya bakalım.

In [3]:
new_list = list('Hello') # bu şekilde teker teker elemanlarına ayrılacağını
new_list_2 = ['Hello'] # bu şekilde ise içinde tek bir eleman old. UNUTMAYALIM.
print(new_list)
print(new_list_2)

['H', 'e', 'l', 'l', 'o']
['Hello']

***type and len

In [6]:
print(len(new_list))
print(len(new_list_2))
print(type(new_list))
print(type(new_list_2))

5
1
<class 'list'>
<class 'list'>

**sırasıyla;
bir liste yapalım
liste index
liste slicing 
liste son eleman
liste son eleman 2. yöntem
liste elemanı değiştirme ye bakalım.

In [11]:
liste = [1, 2, 3, 4, 5, 7, 8, 9, 10] #listemiz
liste[2] #2.indeksine bakalım
liste[2:5]
liste[-1] #sondaki elemana bakalım
liste[len(liste)-1]  #sondaki elemana ulaşma 2.metod (listenin eleman sayısından bir çıkar)
liste[5] = 25

In [16]:
print(liste)
liste[2]

[1, 2, 3, 4, 5, 25, 8, 9, 10]

3

In [19]:
liste[2:5]

[3, 4, 5]

In [20]:
liste[-1]

10

In [21]:
liste[len(liste)-1]

10

In [22]:
liste[5]=25
print(liste) #artık yeni listemiz değişti DİKKAT!

[1, 2, 3, 4, 5, 25, 8, 9, 10]

***LİST SLİCİNG biraz daha yakından bakalım.

In [25]:
#içinde her şeyin old. bir liste yazalım.
work_list = [1, 2, "hello", True, 3.14, ["a", "b", 3], (25, 45), {'one':1, 'two':2}, None]
print(work_list)

[1, 2, 'hello', True, 3.14, ['a', 'b', 3], (25, 45), {'one': 1, 'two': 2}, None]

In [27]:
work_list[4:]

[3.14, ['a', 'b', 3], (25, 45), {'one': 1, 'two': 2}, None]

In [28]:
work_list[:5]

[1, 2, 'hello', True, 3.14]

In [29]:
work_list[::2] #baştan başla, sona kadar git, 2 şer adım atla.

[1, 'hello', 3.14, (25, 45), None]

In [30]:
work_list[::-1] #listeyi tersten döndürelim.

[None,
 {'one': 1, 'two': 2},
 (25, 45),
 ['a', 'b', 3],
 3.14,
 True,
 'hello',
 2,
 1]

***şimdi listeler üzerinde aritmetik işlemler yapalım tıpkı string lerde old. gibi. 
bunu yapmadan önce üç adet liste belirleyelim.

In [32]:
liste1 = [1, 2, 3]
liste2 = ['clarusway']
liste3 = [(20, 30, 40)]
print(liste1)
print(liste2)
print(liste3)

[1, 2, 3]
['clarusway']
[(20, 30, 40)]

In [34]:
liste4 = liste1 + liste2 + liste3 # şimdi bu 3 listeyi toplayalım
print(liste4)

[1, 2, 3, 'clarusway', (20, 30, 40)]

In [35]:
liste1 * 3  # bir listeyi kendisi ile 3 kez çarpalım. Anlık operasyondur liste1 değişmez DİKKAT!

[1, 2, 3, 1, 2, 3, 1, 2, 3]

In [36]:
print(liste1)

[1, 2, 3]

In [39]:
liste3 = liste3 * 3  #artık listemiz kalıcı olarak değişti çünkü liste1*3 yeni bir değişkene atamış olduk, DİKKAT!
print(liste3)

[(20, 30, 40), (20, 30, 40), (20, 30, 40)]

hemen burada string üzerinde bir tekrar daha yapalım; strign ler aritmetik işlem yapalım, yeni değişkene atamak suretiyle string in içini değiştirilem.

In [42]:
a = 'clarusway'
a * 3

'claruswayclaruswayclarusway'

In [43]:
print(a)  # Anlık operasyondu değişmedi ama şimdi a yı yeni bir değişkene atayarak bu işlemi yapalım.

clarusway

In [44]:
a = a * 3  # artık a string kalıcı olarak değişti bu değişkene atayarak değiştirmeyi unutmayalım.
# bir işlemin kalıcı olmasını istiyorsak bir değişkene atayarak o aritmetik işlemi yapmalıyız.
print(a)

claruswayclaruswayclarusway

In [46]:
a[1] = "e"  # string lerde direkt eleman atayamazken bunu list lerde yapabiliyoruz

TypeError: 'str' object does not support item assignment

In [47]:
c = [4, 5, 6] # listelerde direkt atama ile liste içerisindeki eleman değişir.
c[1] = 15
c

[4, 15, 6]

In [50]:
#birden fazla eleman yerine yeni elemanlar atayabiliriz.
liste5 = [1, 2, 3, 4, 5, 6, 7, 8, 9] 
liste5[:2] = [10, 11]   # liste5 in 2 ye kadar olan elemanlarını yeni elemanlar ile değiştirelim.
liste5

[10, 11, 3, 4, 5, 6, 7, 8, 9]

#**METHOD; Python veri tiplerinin çoğunda uygulanabilen ve değişik işlemler gerçekleştiren fonksiyonlardır.
LİSTE fonksiyonlarından bazılarına bakalım.

In [51]:
#APPEND METODU (LİSTENİN SONUNA ELEMAN EKLER)
liste_new1 = [1, 2, 3, 4, 5, 6, 7, 8, 9, 10]
liste_new1.append('a')
liste_new1

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 'a']

In [52]:
#POP METODU (LİSTENİN EN SONUNDAKİ ELEMANI SİLER)
liste_new1.pop()
liste_new1

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

In [53]:
liste_new1.pop(0) #index numarasına göre eleman silmek istersekde index numarasını yazıyoruz.
liste_new1

[2, 3, 4, 5, 6, 7, 8, 9, 10]

In [56]:
#SORT METODU listenin içindeki elemanları sıralamaya yarar.
liste = [34, 2, 1, 89, 120, 48, 1, 0]
liste.sort()
liste

[0, 1, 1, 2, 34, 48, 89, 120]

In [57]:
#tersten sıralama yapmak için ise mevcut parametrenin değerini değiştirebiliriz (reverse = True) ile
liste = [34, 2, 1, 89, 120, 48, 1, 0]
liste.sort(reverse = True)
liste

[120, 89, 48, 34, 2, 1, 1, 0]

In [58]:
#insert metodu ile boş listeye bir önceki listenin elemanlarını ekleyelim.
fruits = ['apple', 'banana', 'watermelon', 'orange', 'mango', 'avocado']
fruit_list = []  # bu yeni boş listemiz.
fruit_list.insert(0, fruits)  # yeni boş listenin 0. indeksine önceki listenin tüm elemanlarını atalım. çift [[]] olacak DİKKAT!
print(fruit_list)

[['apple', 'banana', 'watermelon', 'orange', 'mango', 'avocado']]

# 2) TUPLE;
listelere benzer fakat elemanları değiştirilemezdir. çok hızlıdır. () kullanılır, değişmesini istemediğiniz önemli veriler için kullanırız. remove ve append gibi yöntemler kesinlikle kullanılmaz çünkü değişlik olmasını istemediğimiz şeyleri tuple ile yazarız.
indexlenebilir, içinde birden fazla veri tipi bulunduralabilir, immutable dır yani değiştirilmez.
TUPLE LARDA SADECE 2 METHOD yani 2 fonksiyon VARDIR. DEĞİŞTİRİLEMEZ OLDUĞU İÇİN FAZLA METODU YOKTUR.
COUNT FONKSİYONU = SAYDIRMA, SAYAÇ, Verilen sayınını demet içindeki tekrar sayısına bakıyor.
iNDEX FONKSİYONU = biz index fnk. içine herhangi bir değeri girince bu elemanın hangi index olduğunu veriyor.
yine fonksiyonları görmek için tuple. yapıp bekliyoruz. tuple() yapıp beklersek de tuple hakkında bilgiler geliyor.

In [77]:
#tuple oluşturma 1.yöntem
empty_tuple = ()
print(type(empty_tuple))

<class 'tuple'>

In [78]:
#tuple oluşturma 2.yöntem
empty_tuple_1 = tuple()
print(empty_tuple_1)
print(type(empty_tuple_1))

()
<class 'tuple'>

In [73]:
try_tuple = ('love')
print(try_tuple)
print(type(try_tuple))  #bu bir tuple tipi değil.
#tuple tek elemanlardan oluşacaksa eğer elemanın sonunda virgül kullanarak sorunu çözebiliriz.
#Remember to always use a comma when defining a singleton tuple. (tekli tuple tanımlarkan virgül kullanmayı unutma)

love
<class 'str'>

In [74]:
try_tuple = ('love',)
print(try_tuple)
print(type(try_tuple))  # it is tuple type. bu bir tuple  tipidir.

('love',)
<class 'tuple'>

In [75]:
planets = 'mercury', 'jupiter', 'saturn', "venus", "uranus"  #buradaki gibi virgülle ayırsak yeterli 
# parantez olmasa da hata vermez.
print(planets)
print(type(planets))

('mercury', 'jupiter', 'saturn', 'venus', 'uranus')
<class 'tuple'>

In [59]:
#TUPLE listelere benzer fakat elemanları değiştirilemezdir.
demet = (1, 2, 3, 4, 5,6, 7, 8, 9)
type(demet)

tuple

In [61]:
# empty tuple
tuple()
()

()

In [64]:
# indexlemeler yapabiliriz.
demet[-1]

9

In [65]:
demet[::2] # slicing yapabiliriz.

(1, 3, 5, 7, 9)

In [67]:
tuple2 = (1, 1, 1, 1, 2, 2, 2, 3, 4, 5, 8, 10, 12)
tuple2.count(1)  # saydırma yapabiliriz.

4

In [68]:
tuple2.count(25) #olmayan bir değeri saydırmasını istedğimiz zaman hata vermiyor direkt 0 yazıyor.

0

In [69]:
tuple3 = ("java", "java script", "Linuw", "Python", "CSS")
tuple3.index("CSS")  # index numarasını öğrenebiliriz.

4

In [70]:
tuple3.index('a')   #count hata vermezken index metodu olmayan bir değer için hata verir.

ValueError: tuple.index(x): x not in tuple

In [80]:
tuple4 = (1, 2, 3, 4, 5, 6, 7, 8)  
#AYNI STRİNG LERDE OLDUĞU GİBİ IMMUTABLE OLDUĞU YANİ DEĞİŞTİRİLEMEZ OLD. İÇİN HATA VERİR.
tuple4[-1] = 10  # -1. İNDEXİ 10 OLARAK DEĞİŞTİRMEK İSTEDİK.

TypeError: 'tuple' object does not support item assignment

In [81]:
#aşağıdaki örnekte olduğu gibi list ve tuple arasında geçiş yapmak oldukça kolaydır.
new_tuple = (1, 4, 3, 4, 5, 6, 7, 4)
new_list = list(new_tuple)
print(type(new_list), new_list) 
#type(my_list) dediğimizde class list yazar fakat yanına bir daha my_list dersek bu kez list halinde köşeli parantezle indirir.

<class 'list'> [1, 4, 3, 4, 5, 6, 7, 4]

In [82]:
my_list = [1, 5, 7, 11]
my_tuple = tuple(my_list) #burada da list i tuple çevirdik.
print(type(my_tuple), my_tuple) 
#my_tuple tipi tuple olarak çıkar ve my_tuple diye print ettiğimizde normal parantez () ile çıktı alır.

<class 'tuple'> (1, 5, 7, 11)

In [83]:
print(len(my_list))  #my_listin eleman sayısı
print(len(my_tuple)) #my_tuple durumundaki eleman sayısı

4
4

In [87]:
# An iterable (yenilebilir) string (dize) can be converted (dönüştürmek) to a tuple.
mountain = tuple('kaçkar')
print(mountain)
print(type(mountain))

('k', 'a', 'ç', 'k', 'a', 'r')
<class 'tuple'>

In [88]:
mountain2 = ('toros') 
# bu şekilde olduğu zaman yani değerin yanında virgül olmazsa bu şekilde tek tek ayırıyor. 
# fakat bir sonrakii örnekte olduğu gibi olursa tek tek alacak. Dikkat edelim.
print(tuple(mountain2))
print(type(mountain2))

('t', 'o', 'r', 'o', 's')
<class 'str'>

In [93]:
mountain3 = 'kaçkar', 'toros' #burada olduğu gibi iki değer olur ve virgülle ayırırsak öğelerine ayırmaz.
print(tuple(mountain3))

('kaçkar', 'toros')

In [94]:
new = ['cohort12', 2022, 'Clarusway']
print(tuple(new))

('cohort12', 2022, 'Clarusway')

In [96]:
# önemli bir husus tuple lar print edilince dışarı parantezle çıkar str gibi tek çıkmaz.
# örneğe bakalım.
a = "clarusway"
b = "clarusway",
print(a, type(a))
print(b, type(b))

clarusway <class 'str'>
('clarusway',) <class 'tuple'>

In [98]:
#tuple da da indexleme yapabiliriz
even_no = (0, 2, 4, 6, 8, 10)
print(even_no[0])
print(even_no[1])
print(even_no[2])
print(even_no[6])  # 6 numarada bir eleman olmadığı için error verir.

0
2
4

IndexError: tuple index out of range

In [103]:
# tuple lar öğe atamasını desteklemez AYNI STR gibi. çünkü tuple da immutable (değişmezdir) dır.
city_list = ['Tokyo', 'Istanbul', 'Moskow', 'Dublin']
city_tuple = tuple(city_list)
city_tuple[0] = 'New York' #you can't assign a value (bir değer atayamazsın)

TypeError: 'tuple' object does not support item assignment

In [104]:
# list ler ise değer atamasını kabul ediyordu ama tuple kabul etmez.
city_list = ['Tokyo', 'Istanbul', 'Moskow', 'Dublin']
print(city_list)  # listemizin orjinal halini bir yazdıralım. 

city_list[0] = 'Athens'  # 0. indexe atama yaptık.
city_list[1] = 'Cairo'  # 1. indexe atama yaptık.

print(city_list)  # atama sonrası

['Tokyo', 'Istanbul', 'Moskow', 'Dublin']
['Athens', 'Cairo', 'Moskow', 'Dublin']

In [108]:
#tuple da range ve count yöntemini birlikte kullanalım.
count = tuple(range(21))  #burada 1 den 20 ye kadar olan bir sayı listesi oluşturalım, içinden çift olanları seçelim.
print(count)
print(count[0:21:2]) #0 dan başla 11 e kadar git (11 dahil değil) 2 şer adım atla. bir slicing yapıyoruz.

(0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19, 20)
(0, 2, 4, 6, 8, 10, 12, 14, 16, 18, 20)

# 3) DİCTİONARY; 
KEY - ANAHTAR 
VALUE - DEĞER 
sözlük1 = {"bir": 1, "iki": 2, "üç": 3, "dört": 4}
type(sözlük1)
dict

In [116]:
#örnek bir anahtar - değer içeren dictionary
my_dict = { 'key1': 'value1',
            'key2': 'value2',
            'key3':  'value3'
           }

In [ ]:
# boş sözlük oluşturmanın 2 yolu
# 1 ) dict()
# 2 ) {}

In [109]:
#CREATİNG DİCTİONARY
empty_dict_1 = {}
empty_dict_2 = dict()
print(type(empty_dict_1))

<class 'dict'>

In [162]:
sözlük1 = {"bir": 1, "iki": 2, "üç": 3, "dört": 4}  # key, value, items çıktı alalım.
sözlük1.keys()

dict_keys(['bir', 'iki', 'üç', 'dört'])

In [163]:
sözlük1.values()

dict_values([1, 2, 3, 4])

In [164]:
sözlük1.items()

dict_items([('bir', 1), ('iki', 2), ('üç', 3), ('dört', 4)])

In [176]:
for k, v in sözlük1.items():  # sözlük1 içindeki keys ve value ları items olarak bas. birazcık for a giriş yapmış olalım :)
  print(k, v)

bir 1
iki 2
üç 3
dört 4
beş 21

In [165]:
sözlük1 = {"bir": 1, "iki": 2, "üç": 3, "dört": 4}
sözlük1["beş"]  #olmayan bir eleman talep edilirse hata verir.

KeyError: 'beş'

In [166]:
sözlük1 = {"bir": 1, "iki": 2, "üç": 3, "dört": 4}
sözlük1["beş"] = 5      #yeni eleman ekleyebiliriz. (items yani key: value)
sözlük1

{'bir': 1, 'iki': 2, 'üç': 3, 'dört': 4, 'beş': 5}

In [167]:
print(sözlük1)
sözlük1["dört"]  # indexlemeyi doğrudan yapamayız. dictionary lerde key adıyla çağırırız value ları.(erişim metodu)

{'bir': 1, 'iki': 2, 'üç': 3, 'dört': 4, 'beş': 5}

4

In [168]:
a = {"bir": [1, 2, 3, 4], "iki":[[1, 2], [3, 4], [5, 6]], "üç": 15}  # key üzerinden erişelim.
a["iki"][1][0]  # iki nolu key e git, 1.indexsine git, 1. elemanın 0. indexini getir. (erişme metodumuz bu şekilde)

3

In [169]:
# sözlüklere yeni değer atama (mevcut key e yeni bir value atayalım)
sözlük1  # önceki hali.
sözlük1["beş"] = 20
sözlük1  # son hali

{'bir': 1, 'iki': 2, 'üç': 3, 'dört': 4, 'beş': 20}

In [170]:
# sözlük değerlerini değiştirebiliriz.
print(sözlük1)
sözlük1["beş"] += 1
sözlük1

{'bir': 1, 'iki': 2, 'üç': 3, 'dört': 4, 'beş': 20}

{'bir': 1, 'iki': 2, 'üç': 3, 'dört': 4, 'beş': 21}

In [171]:
thisdictionary = { "Marka": "Volkswagen", "Modeli": "Golf","Yılı": 2020, "Fiyatı": 250000}
thisdictionary.pop("Fiyatı")  # burada pop metodu ile fiyatını sildik.
print(thisdictionary)

{'Marka': 'Volkswagen', 'Modeli': 'Golf', 'Yılı': 2020}

In [172]:
# slack den aldığım bir notu da ekliyorum arkadaşlar.(Edwin hocanın paylaşımı)
# Dictionary'lerde value'ler değiştirilebiliyor. 
# peki onu anladık hocam da key ismini değiştirebilir miyiz? Evet

dict_by_dict = dict(animal = "dog", planet = "neptun", number = 40, pi = 3.14, is_good = True)

# 1.yöntem:
dict_by_dict["new_key"] = dict_by_dict["number"]
del dict_by_dict["number"]
print(dict_by_dict)


# 2. yöntem (.pop() metodu ile :
dict_by_dict["new_key2"] = dict_by_dict.pop("planet")
print(dict_by_dict)

{'animal': 'dog', 'planet': 'neptun', 'pi': 3.14, 'is_good': True, 'new_key': 40}
{'animal': 'dog', 'pi': 3.14, 'is_good': True, 'new_key': 40, 'new_key2': 'neptun'}

In [173]:
state_capitals = {'Arkansas': 'Little Rock',
                  'Colorado': 'Denver',
                  'California': 'Sacromento',
                  'Georgina' : 'Atlanta'
                 }
print(state_capitals['Colorado'])  #erişim (accesing) metodu

Denver

In [174]:
state_capitals = {'Arkansas': 'Little Rock',
                  'Colorado': 'Denver',
                  'California': 'Sacromento',
                  'Georgina' : 'Atlanta'
                  }
state_capitals['Virginia'] = 'Richmond'  #adding a new item (yeni bir öğe ekleme metodu)
print(state_capitals)

{'Arkansas': 'Little Rock', 'Colorado': 'Denver', 'California': 'Sacromento', 'Georgina': 'Atlanta', 'Virginia': 'Richmond'}

In [175]:
#anahtarların ve değerlerin farklı türlerde olabileceğini unutmayalım. tuple gibi, list gibi, str gibi
#note that keys and values can be of different types.

mix_values = {'animal': ('dog', 'cat'),  # tuple type
              'planet': ['Neptun', 'Saturn', 'Jupiter'], # list type
              'number': 40,  # integer type
              'pi': 3.14, # float type}
              'is_good': True} # bool type

mix_keys = {22 : "integer",
            1.2 : "float",
            True : "boolean",
            "key": "string"}

print(mix_values)
print(mix_keys)

{'animal': ('dog', 'cat'), 'planet': ['Neptun', 'Saturn', 'Jupiter'], 'number': 40, 'pi': 3.14, 'is_good': True}
{22: 'integer', 1.2: 'float', True: 'boolean', 'key': 'string'}

In [123]:
dict_by_dict = {'animal': 'dog',
                'planet': 'neptun',
                'number': 40,
                'pi': 3.14,
                'is_good': True}
# İSTEDİKLERİMİZE NASIL ERİŞECEĞİZ ????
# İTEMS İLE ÖĞELERİN HEPSİNE (KEYS, VALUES)
# KEYS İLE ANAHTARLARA
# VALUES İLE DEĞERELERE ULAŞIRIZ.
print(dict_by_dict.items(), '\n')
print(dict_by_dict.keys(), '\n')
print(dict_by_dict.values())

dict_items([('animal', 'dog'), ('planet', 'neptun'), ('number', 40), ('pi', 3.14), ('is_good', True)])

dict_keys(['animal', 'planet', 'number', 'pi', 'is_good'])

dict_values(['dog', 'neptun', 40, 3.14, True])

In [129]:
#  .UPDATE()METHODU KULLANIMI  (update yani güncelleme metodu, 'bool': True ekleyelim.) dict. sonuna ekler UNUTMA
dict_by_dict = {'animal': 'dog',
                'planet': 'neptun',
                'number': 40,
                'pi': 3.14,
                'is_good': 'clarusway'}
dict_by_dict.update({'bool': True })
print(dict_by_dict)

{'animal': 'dog', 'planet': 'neptun', 'number': 40, 'pi': 3.14, 'is_good': 'clarusway', 'bool': True}

In [130]:
# .DEL METODU (ÖĞE KALDIRMA)
# syntax şöyle del dictionary_name ['key']  sadece sileceğiniz key yazıyoruz, value yazmıyoruz. çift old. için value da gider.
del dict_by_dict ['animal'] 
print(dict_by_dict)

{'planet': 'neptun', 'number': 40, 'pi': 3.14, 'is_good': 'clarusway', 'bool': True}

In [132]:
# İN ve NOT İN  operatörlerini kullanarak sözlükte anahtarın olup olmadığı kontrol edebiliriz.
# in operatörünü kullanırken; sonuç(the result) şayet anahtar var ise true, yok ise false sonucunu verecektir.
# not in operatörünü kullanırken ise sonuç;
# şayet anahtar sözlükte değilse sonuç true, 
# aksi halde false olacaktır. 

print ('pi' in dict_by_dict)

print('animal' not in dict_by_dict)  #remember(hatırla), del fonksiyonunu kullanırken animal anahtarını sildik.

print("animal" in dict_by_dict)

True
True
False

In [158]:
# iç içe sözlükler (nested dictionaries
# burada az elemanlı sözlüklerde erişim yapalım, sonra daha çok elemanlılarda erişim yapacağız.

a = {"sayılar": {"bir": 1, "iki": 2, "üç": 3}, "meyveler":{"kiraz": "yaz", "portakal": "kış", "erik": "yaz"}}
a["sayılar"]

{'bir': 1, 'iki': 2, 'üç': 3}

In [159]:
a["sayılar"]['iki']

2

In [160]:
a["meyveler"]["kiraz"]

'yaz'

In [133]:
#NESTED DİCTİONARİES
#BAZEN İÇ İÇİ DİCT KULLANILMAK DURUMUNDA KALINABİLİR.
school_records = {
    "personal_info":
    {"kid":{"tom": {"class": "intermediate", "age": 10},
            "sue" : {"class": "elementary", "age": 8}
            },
     "teen": {"joseph":{"class": "collage", "age": 19},
              "marry": {"class": "high school", "age": 16}
              },
     },
     "grades_info": 
     {"kid": {"tom": {"math": 88, "speech": 69},
              "sue": {"math": 90, "spench": 81}
              },
      "teen": {"joseph": {"coding": 80, "math": 89},
               "marry": {"coding": 70, "math": 96}
               },
      },
}

In [135]:
print(school_records['grades_info']['teen']['marry']['math']) # indexleyerek ulaşabiliriz yine istediğimiz bilgiye.
print(school_records['personal_info']['kid']['tom']['age'])

96
10

In [177]:
# İNPUT FONKSİYONU
input()  # çalıştırdığımız zaman kullanıcıdan bir değer ister.

5555

'5555'

In [ ]:
input("Lütfen bir sayı giriniz:")  # veriyi her zaman str olarak isteriz ama girilen veriyi yerinde 
integer, float dönüştürebiliriz.

int(input("Lütfen bir sayı giriniz:"))
float(input("Lütfen bir sayı giriniz:"))

In [178]:
a = input("Lütfen bir sayı giriniz: ")
print("Kullanıcının girdiği değer", a)

Lütfen bir sayı giriniz: 2022
Kullanıcının girdiği değer 2022

In [179]:
# İNPUT KURALLARI
a = input("Lütfen bir sayı giriniz: ")
print(a * 3)
print(type(a))

Lütfen bir sayı giriniz: 125
125125125
<class 'str'>

In [180]:
a = int(input("Lütfen bir sayı giriniz: "))
print(a * 3)
print(type(a))

Lütfen bir sayı giriniz: 125
375
<class 'int'>

In [181]:
try:
  a = a = int(input("a: "))
  print(a)
except ValueError:
  print("Lütfen inputu doğru formatta girin.")

# girilen değerin integer olup olmadığını bu şekilde kontrol edebiliriz. (try, except ile)

a: xx
Lütfen inputu doğru formatta girin.

# 4 ) SET LER;
{} kullanılır,
birden fazla olan elemanları ikinci kez tekrar etmez
her print etmede sıralama değişebilir.
set deyince aklımıza kümeler gelmeli.
kümelerdeki işlemlerden olan;  kesişim, birleşim ve farklar da gelmeli.

In [195]:
#BOŞ BİR SET VEYA BOŞ BİR SÖZLÜK OLUŞTURMAK
empty_set = set()
print(type(empty_set))

<class 'set'>

In [197]:
#set ler sırasız ve benzersiz nesnelere sahiptir. Example
colorset = {'purple', 'orange', 'red', 'darkblue', 'yellow', 'red'}
print(colorset)

#iki kez tekrarlanan red tek e düşer ve sıralama değişir.
#her çalıştırmada yeniden sıralama değişir.

{'red', 'darkblue', 'yellow', 'orange', 'purple'}

In [200]:
#set example: tekrarlananları bir kez alır.
s = set('pppyyyxxxzzzzuunsseellfffiiissskkkmmmoooohneessss')  # burada birden fazla tekrarlanan hiçbir harfi ikinci kez almaz.
print(s)

{'l', 'o', 'k', 'e', 'n', 'z', 'm', 'u', 'p', 'f', 's', 'h', 'y', 'x', 'i'}

In [202]:
#bir list i bir set e dönüştürelim.
flower_list = ['rose', 'violet', 'carnation', 'rose', 'orchid', 'rose', 'orchid']  # listemiz
flowerset = set(flower_list)  # listemizi set e set() ile dönüştürelim.
flowerlist = list(flowerset)  # şimdi de setimizi list() ile yeniden eski haline getirelim.
print(flowerset)
print(flowerlist)

{'carnation', 'rose', 'orchid', 'violet'}
['carnation', 'rose', 'orchid', 'violet']

In [204]:
# eleman sayıları birbirinden farklı olan set lerde ki durum (eleman tekrarı varsa tabi)
flower_list_2 = {'orchid', 'carnation', 'violet', 'rose'}
flower_list_3 = {'rose', 'orchid', 'rose', 'violet', 'carnation'}
print(flower_list_2)
print(flower_list_3)

{'carnation', 'rose', 'orchid', 'violet'}
{'carnation', 'rose', 'orchid', 'violet'}

In [206]:
a = set('baddacccrrrabracadabra')
print(a)

{'d', 'r', 'b', 'a', 'c'}

In [210]:
# şimde set lerde metodlara göz atalım kısaca
a = set('abracadabra')
b = set('alacazam')

print(a-b) 
#difference yöntemi ile aynı 2 setin farkını alabiliriz (farklı elemanları) yazıldığı gibi a nın b den farkı

print(a.difference(b)) 
# a difference from b

{'b', 'd', 'r'}
{'b', 'd', 'r'}

In [211]:
#union metodu ile birleştirebiliriz.

a = set('abracadabra')
b = set('alacazam')

print(a | b)  # 2 setin birleştirilmesini sağlar. 1. yöntem

print(a.union(b))  # 2. yöntem

{'l', 'd', 'r', 'b', 'z', 'm', 'a', 'c'}
{'l', 'd', 'r', 'b', 'z', 'm', 'a', 'c'}

In [212]:
#intersection ile kesişim alabiliriz.

a = set('abracadabra')
b = set('alacazam')

print(a & b)  #same as '.intersection()' method iki setin kesişimini almamızı sağlar.

print(a.intersection(b)) #intersection of a and b

{'c', 'a'}
{'c', 'a'}

In [215]:
#silme işlemini gerçekleştirebiliriz.remove metodu ile.

a = set('abracadabra')

a.remove('c') #  'c' yi silelim.

print(a)

{'d', 'r', 'b', 'a'}

In [217]:
# ekleme yapabiliriz. add metodu ile 

a = set('abracadabra')

a.add('c') 
a.add('k')  # olmayan bir harf ekleyelim.

#burada C kullansaydım onuda yeni bir karakter gibi kabul ekleyecekti ama içerde c harfi olduğu için yeni bir ekleme yapmadı.

print(a)

{'d', 'k', 'r', 'b', 'a', 'c'}

In [218]:
print(len(a))  # setlerin eleman sayısına ulaşabiliriz.

6

In [221]:
# SÖZLÜKLERDE OLDUĞU GİBİ İN VE NOT İN KULLANABİLİRİZ

print('a' in a)
print('k' in a)
print('a' not in a)
print('k' not in a)
print('y' in a)

True
True
False
False
False

In [ ]:
the end :)